@use "../variable.scss" as *;
@use "../colors.scss" as *;

.battery-container {
  padding: 0.7rem;
  min-width: 300px;

  overlay {
    levelbar trough block {
      min-height: 45px;
      border-radius: $border-radius;
      background-color: gtkalpha($foreground, 0.35);
      &.filled {
        background-color: $foreground;
      }
    }

    label {
      color: $background;
      font-size: 1.2rem;
      margin-left: 0.7rem;
    }
  }

  .power-profiles {
    button {
      padding: 0.2rem;
      background-color: gtkalpha($foreground, 0.1);
      color: $foreground;
      border-radius: $border-radius;

      &:hover {
        background-color: gtkalpha($foreground, 0.35);
      }

      &.active {
        background-color: $foreground;
        color: $background;
      }
    }
  }
}
