@use "../variable" as *;
@use "../colors" as *;

.clock-container {
  margin: $window-margin;
  > box {
    background-color: $background;
    margin: 0.14rem 0.5rem 0.5rem 0.14rem;
    padding: 0.2rem 1rem;
    border-radius: $border-radius;
    box-shadow:
      0 0 0 $border-width $border-color,
      $window-box-shadow;

    .box-label {
      font-size: 0.9rem;
      font-style: italic;
    }
  }

  label {
    font-size: 3rem;
    color: $foreground;
    font-family: "Google Sans Display";
    font-weight: 700;
  }
}
