@use "../variable.scss" as *;
@use "../colors.scss" as *;
@use "sass:color";

.dock-container {
  padding: 0.4rem;
  .media-player {
    min-width: 180px;
    background-color: gtkalpha($foreground, 0.25);
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-radius: $border-radius;
    .cover {
      border-radius: $border-radius;
      margin-right: 0.3rem;
    }
  }

  .app-button {
    .box {
      padding: 0.2rem;
      min-width: 45px;
      min-height: 45px;
    }

    image {
      margin-bottom: 10px;
    }

    &:hover {
      background-color: transparent;
      image {
        -gtk-icon-size: 40px;
      }
    }

    &.focused {
      .indicator {
        min-width: 32px;
      }
    }
    .indicator {
      min-width: 5px;
      min-height: 5px;
      border-radius: 99px;
      background-color: $foreground;
      margin-bottom: 1px;
      transition: min-width 0.4s ease-in-out;
    }
  }
}
