$red: #cc241d;
$fg: #ebdbb2;
$bg: #282828;
$window-opacity: 1;
$window-border-radius: 6px 6px 6px 6px;
$window-margin: 12px 18px 18px 12px;
$window-padding: 10px 10px 10px 10px;
$window-dock-padding: 6px 6px 6px 6px;
$window-desktop-clock_padding: 4px 4px 4px 4px;
$window-border-width: 2px;
$window-border-color: $fg;
$window-shadow-offset: 6px 6px;
$window-shadow-blur: 0px;
$window-shadow-spread: 0px;
$window-shadow-color: $fg;
$window-shadow-opacity: 1;
$bar-separator: true;
$bar-border-radius: 6px 6px 6px 6px;
$bar-bg-color: $bg;
$bar-bg-opacity: 1;
$bar-margin: 12px 18px 8px 12px;
$bar-padding: 3px 3px 3px 3px;
$bar-border-width: 2px;
$bar-border-color: $fg;
$bar-shadow-offset: 6px 6px;
$bar-shadow-blur: 0px;
$bar-shadow-spread: 0px;
$bar-shadow-color: $fg;
$bar-shadow-opacity: 1;
$bar-button-bg-color: $bg;
$bar-button-fg-color: $fg;
$bar-button-opacity: 1;
$bar-button-padding: 0px 4px 0px 4px;
$bar-button-border-radius: 8px 8px 8px 8px;
$bar-button-border-width: 0px;
$bar-button-border-color: $fg;
$bar-button-shadow-offset: 0px 0px;
$bar-button-shadow-blur: 0px;
$bar-button-shadow-spread: 0px;
$bar-button-shadow-color: $fg;
$bar-button-shadow-opacity: 1;